<!-- Adapted from https://stackoverflow.com/questions/27917471/pass-parameter-with-python-flask-in-external-javascript#27926189 -->

<html>
    <head>
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script> -->
        <script type="text/javascript" src="{{ url_for('static', filename='pdfUpload.js') }}"></script>
        <link href="{{ url_for('static', filename='css/pdfUpload.css') }}" rel="stylesheet">
    </head>
    <body>
        <h1 style="text-align:center">Platobne karticky s QR kodom</h1>
        <p style="text-align:center">Tento skript berie plnu vyplacenu fakturu v pdf formate</p>
        <p style="text-align:center">a vytvara z nej karticku do penazenky pre zakaznika.</p>
        <br>
        <form class="box" method="post" action="" enctype="multipart/form-data">
            <div class="box__input">
              <input class="box__file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
              <label for="file"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>
              <button class="box__button" type="submit">Upload</button>
            </div>
            <div class="box__uploading">Uploading…</div>
            <div class="box__success">Done!</div>
            <div class="box__error">Error! <span></span>.</div>
        </form>
        
        <!-- <input type="file" size="60" name="fileSub">
        <input id="submitFile" type="button" value="Spracuj..."> -->
            
    </body>
    <footer>
        <p>Contact information: <a href="mailto:repickym@gecom.sk">repickym@gecom.sk</a>.</p>
    </footer>
    </html>